---
layout: layouts/result-layout.njk
title: Game Results
pagination:
    data: collections.game-results
    size: 4
    reverse: true
    alias: results
---

<p class="lead">PSA 2021 Fall / Winter Season</p>


