---
layout: layouts/tabular.njk
title: Game Schedules
---

<div class="container">
  <div class="row">
    <p class="lead">PSA 2021 Fall / Winter Season</p>
  </div>

  <div class="container">
    <h2>November 27, 2021 (Saturday)</h2>
    
    <h4>Father Michael Troy Gym</h4>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Game</th>
          <th scope="col">Division</th>
          <th scope="col" colspan="2" class="text-center">Teams</th>
          <th scope="col" class="text-center">Time</th>
          {# <th scope="col">Gym</th> #}
        </tr>
      </thead>
      <tbody>
        <tr class="table-primary">
          <th scope="row">1</th>
          <td>Open Division 1</td>
          <td>Los Angeles Lakers</td>
          <td>Dallas Mavericks</td>
          <td class="text-center">8:00 AM</td>
          {# <td rowspan="6" style="vertical-align : middle;" class="table-light">Troy</td> #}
        </tr>
        <tr class="table-warning">
          <th scope="row">2</th>
          <td>Open Division 2</td>
          <td>Houston Rockets</td>
          <td>Golden State Warrior</td>
          <td class="text-center">9:20 AM</td>
        </tr>
        <tr class="table-danger">
          <th scope="row">3</th>
          <td>Open Division 3</td>
          <td>Los Angeles Clippers</td>
          <td>Utah Jazz</td>
          <td class="text-center">10:40 AM</td>
        </tr>
        <tr class="table-success">
          <th scope="row">4</th>
          <td>Open Division 4</td>
          <td>Boston Celtics</td>
          <td>Philadelphia Sixers</td>
          <td class="text-center">12:00 PM</td>
        </tr>
        <tr class="table-info">
          <th scope="row">5</th>
          <td>Master 1</td>
          <td>Atlanta Hawks</td>
          <td>Denver Nuggets</td>
          <td class="text-center">1:20 PM</td>
        </tr>
        <tr class="table-secondary">
          <th scope="row">6</th>
          <td>Master 2</td>
          <td>Minnesota Timberwolves</td>
          <td>Miami Heat</td>
          <td class="text-center">2:40 PM</td>
        </tr>
        
      </tbody>
    </table>

    <hr />

    <h4>Holy Trinity Gym</h4>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Game</th>
          <th scope="col">Division</th>
          <th scope="col" colspan="2" class="text-center">Teams</th>
          <th scope="col" class="text-center">Time</th>
          {# <th scope="col">Gym</th> #}
        </tr>
      </thead>
      <tbody>
        <tr class="table-primary">
          <th scope="row">1</th>
          <td>Open Division 1</td>
          <td>Los Angeles Lakers</td>
          <td>Dallas Mavericks</td>
          <td class="text-center">8:00 AM</td>
          {# <td rowspan="6" style="vertical-align : middle;" class="table-light">Troy</td> #}
        </tr>
        <tr class="table-warning">
          <th scope="row">2</th>
          <td>Open Division 2</td>
          <td>Houston Rockets</td>
          <td>Golden State Warrior</td>
          <td class="text-center">9:20 AM</td>
        </tr>
        <tr class="table-danger">
          <th scope="row">3</th>
          <td>Open Division 3</td>
          <td>Los Angeles Clippers</td>
          <td>Utah Jazz</td>
          <td class="text-center">10:40 AM</td>
        </tr>
        <tr class="table-success">
          <th scope="row">4</th>
          <td>Open Division 4</td>
          <td>Boston Celtics</td>
          <td>Philadelphia Sixers</td>
          <td class="text-center">12:00 PM</td>
        </tr>
        <tr class="table-info">
          <th scope="row">5</th>
          <td>Master 1</td>
          <td>Atlanta Hawks</td>
          <td>Denver Nuggets</td>
          <td class="text-center">1:20 PM</td>
        </tr>
        <tr class="table-secondary">
          <th scope="row">6</th>
          <td>Master 2</td>
          <td>Minnesota Timberwolves</td>
          <td>Miami Heat</td>
          <td class="text-center">2:40 PM</td>
        </tr>
        
      </tbody>
    </table>
  </div>

  
</div>