---
layout: layouts/tabular.njk
title: Teams & Standings
description: PSA 2021-2022 Fall/Winter Season Team List and Standings
---

<div class="container">
  <div class="row">
    <p class="lead">PSA 2021 Fall / Winter Season</p>
  </div>

  <div class="row">
    <h1>Open Div 1</h1>
  </div>
  <table class="table table-primary table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Win</th>
        <th scope="col">Loss</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Los Angeles Lakers</td>
        <td>5</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dallas Mavericks</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Phoenix Suns</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Los Angeles Clippers</td>
        <td>1</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <div class="row">
    <h1>Open Div 2</h1>
  </div>
  <table class="table table-warning table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Win</th>
        <th scope="col">Loss</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Los Angeles Lakers</td>
        <td>5</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dallas Mavericks</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Phoenix Suns</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Los Angeles Clippers</td>
        <td>1</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <div class="row">
    <h1>Open Div 3</h1>
  </div>
  <table class="table table-danger table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Win</th>
        <th scope="col">Loss</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Los Angeles Lakers</td>
        <td>5</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dallas Mavericks</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Phoenix Suns</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Los Angeles Clippers</td>
        <td>1</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <div class="row">
    <h1>Open Div 4</h1>
  </div>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Win</th>
        <th scope="col">Loss</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Los Angeles Lakers</td>
        <td>5</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dallas Mavericks</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Phoenix Suns</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Los Angeles Clippers</td>
        <td>1</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <div class="row">
    <h1>Master 1</h1>
  </div>
  <table class="table table-info table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Win</th>
        <th scope="col">Loss</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Los Angeles Lakers</td>
        <td>5</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dallas Mavericks</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Phoenix Suns</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Los Angeles Clippers</td>
        <td>1</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <div class="row">
    <h1>Master 2</h1>
  </div>
  <table class="table table-secondary table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Win</th>
        <th scope="col">Loss</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Los Angeles Lakers</td>
        <td>5</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dallas Mavericks</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Phoenix Suns</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Los Angeles Clippers</td>
        <td>1</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</div>